<div class="loading-overlay" *ngIf="loading">
  <div class="grid-columns">
    <div class="spinner spinner-lg shake">
      <div class="dot-primary"></div>
      <div class="dot-accent"></div>
      <div class="dot-red-brand"></div>
      <div class="dot-yellow-brand"></div>
    </div>
  </div>
</div>


<div class="card shadow">
  <div class="card-body p-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Home</a>
      </li>
      <li class="breadcrumb-item active">View Jobs</li>
    </ol>


    <p>
      <strong>Welcome to the Job Matching Portal!</strong>
      <br>
      Browse and apply for tailored job opportunities. Our algorithm matches you with roles suited to your skills.
      Check your suitability percentage and find your perfect match effortlessly.
      Upload your resume to get accurate results for jobs that suit you best. Start exploring now!"
    </p>


    <!-- <button class="btn btn-primary" (click)="open(content)">Upload Resume</button> -->
    <button class="btn btn-primary" (click)="open(content)">
      {{ isCandidateRegistered ? 'Resume Summary' : 'Upload Resume' }}
    </button>

    <app-ngb-table [tableData]="jobList" [columnArray]="columnArray" [form]="departmentForm"></app-ngb-table>

    <div class="card-footer"></div>
  </div>
</div>



<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <!-- <h5 class="offcanvas-title">Personal Information</h5> -->
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">

    <div class="offcanvas-body">


      <form *ngIf="!isCandidateRegistered" (ngSubmit)="submitForm()" #jobForm="ngForm">

        <div class="card shadow">
          <div class="card-header">
            <h5>Upload Resume</h5>

          </div>
          <div class="card-body">
            <div class="row mb">

              <div class="row">
                <div class="col">
                  <label for="inputJobTitle" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="First Name"
                    [(ngModel)]="firstName" name="firstName" required>
                </div>


                <div class="col">
                  <label for="inputJobTitle" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Last Name" [(ngModel)]="lastName"
                    name="lastName" required>
                </div>
              </div>
            </div>

            <div class="row mb">
              <div class="row">
                <div class="col">
                  <label for="inputJobTitle" class="form-label">Mobile</label>
                  <input type="text" class="form-control" id="mobile" placeholder="Mobile Number" [(ngModel)]="mobile"
                    name="mobile" required>
                </div>


                <div class="col">
                  <label for="inputJobTitle" class="form-label">Phone</label>
                  <input type="tel" class="form-control" id="phone" placeholder="Phone Number" [(ngModel)]="phone"
                    name="phone" required>
                </div>
              </div>
            </div>

            <div class="row mb">
              <div class="row">
                <div class="col">
                  <label for="inputJobTitle" class="form-label">Address</label>
                  <input type="address" class="form-control" id="address" placeholder="Address" [(ngModel)]="address"
                    name="address" required>
                </div>
              </div>
            </div>


            <div class="row mb">
              <div class="row">
                <div class="col">
                  <label for="inputJobTitle" class="form-label">Email Address</label>
                  <input type="email" class="form-control" id="email" placeholder="Email Address" [(ngModel)]="email"
                    name="email" required>
                </div>
              </div>
            </div>

            <!-- File Uploader -->
            <br>
            <div class="row mb">
              <div class="row">
                <div class="col">
                  <div class="form-group col-sm-12">
                    <div class="file-upload-dropbox" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                      (drop)="onDrop($event)">
                      <input type="file" class="form-control-file" id="cv" aria-describedby="cvUpload"
                        (change)="handleFileInput($event)" required>
                      <label class="custom-file-label" for="cv">Drag & drop Resume here or click to browse</label>
                    </div>
                    <small id="fileUploadHelp" class="form-text text-muted">Maximum file size: 5MB</small>
                    <div class="invalid-feedback">Please upload your CV file.</div>
                  </div>
                </div>
              </div>
              <!-- Display uploaded file name -->
              <div class="row">
                <div class="col">
                  <p class="fileName">{{ uploadedFileName }}</p>
                </div>
              </div>
            </div>


            <!-- Submit Button -->
            <div class="row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary col-sm-12">Submit</button>
              </div>
            </div>


          </div>
        </div>


      </form>



      <!-- Dummy data form -->
      <form *ngIf="isCandidateRegistered">

        <div class="resume-container" *ngIf="resumeSummary">
          <h2 class="resume-heading">Candidate Resume</h2>
          <div class="resume-details">
            <div class="resume-item">
              <label class="resume-label">Name:</label>
              <span class="resume-value">{{ resumeSummary?.candidate_FirstName }} {{ resumeSummary?.candidate_LastName
                }}</span>
            </div>
            <div class="resume-item">
              <label class="resume-label">Email:</label>
              <span class="resume-value">{{ resumeSummary?.candidate_Email }}</span>
            </div>
            <div class="resume-item">
              <label class="resume-label">Phone:</label>
              <span class="resume-value">{{ resumeSummary?.candidate_Phone }}</span>
            </div>
            <div class="resume-item">
              <label class="resume-label">Address:</label>
              <span class="resume-value">{{ resumeSummary?.candidate_Address }}</span>
            </div>
            <div class="resume-item">
              <label class="resume-label">Experience:</label>
              <ul class="resume-value">
                <li *ngFor="let experience of resumeSummary?.experience">
                  <strong>{{ experience.experience_Title }}</strong> - {{ experience.experience_Description }}
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <label class="resume-label">Responsibilities:</label>
              <ul class="resume-value">
                <li *ngFor="let responsibility of resumeSummary?.responsibility">
                  {{ responsibility.responsibility_Description }}
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <label class="resume-label">Technical Skills:</label>
              <ul class="resume-value">
                <li *ngFor="let skill of resumeSummary?.technicalSkill">
                  {{ skill.skill_Name }}
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <label class="resume-label">Soft Skills:</label>
              <ul class="resume-value">
                <li *ngFor="let skill of resumeSummary?.softSkill">
                  {{ skill.skill_Name }}
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <label class="resume-label">Education:</label>
              <ul class="resume-value">
                <li *ngFor="let degree of resumeSummary?.degree">
                  {{ degree.degree_Name }}
                </li>
              </ul>
            </div>
            <!-- Add more sections as needed -->
          </div>
        </div>



      </form>






    </div>

  </div>
</ng-template>

