<div class="card shadow">
    <div class="card-body p-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Payroll Company Details</a>
        </li>
        <li class="breadcrumb-item active">Control Calendars</li>
      </ol>
  
      <p>
        <strong>Control Calendars</strong> are used to group employee calendars data for financial reporting.
      </p>
    <app-ngb-table [tableData]="controlCalendarList" [columnArray]="columnArray" (onAdd)="addControlCalendar($event)" (onDelete)="deleteControlCalendar($event)" (onEdit)="editControlCalendar($event)" [form]="ControlCalendarForm"></app-ngb-table>

    <div class="card-footer">
    </div>
  </div>
  