<div class="container">
  <div class="left-panel">
    <p>Test</p>
    <ngx-charts-bar-vertical
      class="chart"
      [view]="[500,300]"
      [results]="openJobCountByLocationData"
      [xAxisLabel]="'Open Job Count By Location'"
      [legendTitle]="'legend'"
      [yAxisLabel]="'Number of Open Job'"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true"
      [showDataLabel]="true"
      [legendTitle]="'Country'"
      [gradient]="true"
    >
    </ngx-charts-bar-vertical>
  </div>
  <div class="right-panel">
    <ngx-charts-pie-chart
      class="chart"
      [results]="data"
      [legend]="true"
      [legendPosition]="legendPosition"
      [labels]="true"
      [view]="[500, 300]"
      [gradient]="true">
    </ngx-charts-pie-chart>
  </div>


</div>
