<div class="card shadow">
  <div class="card-body p-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Payroll Company Details</a>
      </li>
      <li class="breadcrumb-item active">Departments</li>
    </ol>

    <p>
      <strong>Payroll departments</strong> are used to group employee data for financial reporting.
    </p>

  <app-ngb-table [tableData]="departmentList" [columnArray]="columnArray" (onAdd)="addDepartment($event)" (onDelete)="deleteDepartment($event)" (onEdit)="editDepartment($event)" [form]="departmentForm"></app-ngb-table>

  <div class="card-footer">
  </div>
</div>
