<section id="intro">
  <div id="intro-content">
    <h2 class="mb-5">Welcome to AI Recruitment</h2>
    <p class="lead">
      Welcome to <b>AI Recruitment</b>,
      where cutting-edge technology meets human talent acquisition.
      Our platform harnesses the power of artificial intelligence to revolutionize the recruitment process,
      making it faster, smarter,
      and more efficient than ever before.

      <br><br>
      With AI Recruitment, finding the perfect candidate for your organization is no longer a daunting task. Our
      advanced algorithms analyze vast amounts of data to identify the most qualified candidates, saving you time and
      resources.
      <br />
    </p>

  </div>
</section>

<section id="learn">
  <div class="grid">
    <div id="work" class="card animate-on-scroll animate-from-left">
      <img src="assets/index/Get to work.svg" />
      <div class="p-5">
        <div class="title h5">Recruitment</div>
        <div class="content">
          Sample text
        </div>
        <div class="content">
          <ul>

          </ul>
        </div>
      </div>
    </div>
    <div id="code" class="card animate-on-scroll animate-from-right">
      <img src="assets/index/Bring me to the code.svg" />
      <div class="p-5">
        <div class="title h5">Structure</div>
        <div class="content">
          Sample text
        </div>
        <div class="content">
          <ul>

          </ul>
        </div>
      </div>
    </div>
    <div id="user" class="card animate-on-scroll animate-from-bottom">
      <img src="assets/index/The user interface.svg" />
      <div class="p-5">
        <div class="title h5">Output</div>
        <div class="content">
          Sample text
        </div>
        <div class="content">
          <ul>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
