<div class="sidebar-container">
  <!-- Colored Sidebar -->
  <div class="colored-sidebar"></div>
  <sdwds-sidenav (linkClicked)="navClicked($event)" [collapsed]="false" [showToggle]="true" [responsive]="true"
    [hideSubtitles]="true">

    <sdwds-sidenav-item label="Home" link="/home" icon="illustrative-house-2"></sdwds-sidenav-item>
    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Candidate" icon="illustrative-payroll-1" link="payrollcompanydetails">
      <sdwds-sidenav-item label="Allowances" link="/payrollcompanydetails/allowances"></sdwds-sidenav-item>
      <sdwds-sidenav-item label="Calculation Controls"
        link="/payrollcompanydetails/calculationcontrols"></sdwds-sidenav-item>
      <sdwds-sidenav-item label="Charity Deduction" link="/payrollcompanydetails/charitydeduction"></sdwds-sidenav-item>
      <sdwds-sidenav-item label="Control Calendars" link="/payrollcompanydetails/controlcalendars"></sdwds-sidenav-item>
      <sdwds-sidenav-item label="Departments" link="/payrollcompanydetails/departments"><i
          class="icons8-o-library"></i></sdwds-sidenav-item>
      </sdwds-sidenav-item>

    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Job" icon="illustrative-tasks" link="output">

      <sdwds-sidenav-item label="Apply Job" link="/job/applyjob"><i
        class="icons8-o-library"></i></sdwds-sidenav-item>

    </sdwds-sidenav-item>





    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Settings" icon="illustrative-settings" link="settings">
      <sdwds-sidenav-item label="Admin" link="/settings/admin"></sdwds-sidenav-item>
      <sdwds-sidenav-item label="Timeout" link="/settings/timeout"></sdwds-sidenav-item>
    </sdwds-sidenav-item>

    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Documents" icon="illustrative-document" link="/documents">
    </sdwds-sidenav-item>

  </sdwds-sidenav>
</div>
