<div class="sidebar-container">
  <!-- Colored Sidebar -->
  <div class="colored-sidebar"></div>
  <sdwds-sidenav (linkClicked)="navClicked($event)" [collapsed]="false" [showToggle]="true" [responsive]="true"
    [hideSubtitles]="true">

    <sdwds-sidenav-item label="Home" link="/home" icon="illustrative-house-2"></sdwds-sidenav-item>
    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Candidate" icon="illustrative-payroll-1" link="payrollcompanydetails">
      <sdwds-sidenav-item label="Dashboard" link="/analytics"></sdwds-sidenav-item>

      </sdwds-sidenav-item>

    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Job" icon="illustrative-tasks" link="output">

      <sdwds-sidenav-item label="Apply Job" link="/job/applyjob"><i
        class="icons8-o-library"></i></sdwds-sidenav-item>

    </sdwds-sidenav-item>





    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Recruiter" icon="illustrative-settings" link="settings">
      <sdwds-sidenav-item label="Manage Job" link="/managejob/managejob"><i
        class="icons8-o-library"></i></sdwds-sidenav-item>

        <sdwds-sidenav-item label="View Application" link="/application/viewapplication"><i
          class="icons8-o-library"></i></sdwds-sidenav-item>

    </sdwds-sidenav-item>

    <!-- <sdwds-sidenav-item type="line"></sdwds-sidenav-item> -->
    <br>

    <sdwds-sidenav-item label="Documents" icon="illustrative-document" link="/documents">
    </sdwds-sidenav-item>

  </sdwds-sidenav>
</div>
